<div class="transfer-filter">
  <h3>Количество пересадок</h3>

  <label>
    <input type="checkbox" name="transfers" value="any">
    <span>Все</span>
  </label>
  <label>
    <input type="checkbox" name="transfers" value="0">
    <span>Без пересадок</span>
  </label>
  <label>
    <input type="checkbox" name="transfers" value="1">
    <span>1 пересадка</span>
  </label>
  <label>
    <input type="checkbox" name="transfers" value="2">
    <span>2 пересадки</span>
  </label>
  <label>
    <input type="checkbox" name="transfers" value="3">
    <span>3 пересадки</span>
  </label>
</div>
